button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.primary {
    background-color: #007bff;
    color: #fff;
}

button.secondary {
    background-color: #6c757d;
    color: #fff;
}
